NEXT_PUBLIC_SANITY_PROJECT_ID="your_project_id"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2026-03-01"
NEXT_PUBLIC_SANITY_STUDIO_URL="http://localhost:3333"

SANITY_API_READ_TOKEN="your_viewer_or_read_token"
SANITY_API_WRITE_TOKEN="your_write_token"
SANITY_PREVIEW_SECRET="your_preview_secret"
SANITY_REVALIDATE_SECRET="your_revalidate_secret"
